<!DOCTYPE html>
<html>
    <head>
        <link href = "../styles/Style Sheet Admission.css" type = "text/css" rel = "stylesheet">
        <meta charset="utf-8">
        <title>Admission</title>
    </head>

    <body>
        <header>
            <article>
                <section>
                    <!nav links>
                    <nav ul li a><ul>
                        <li><a href = "../Spirit World.html">Spirit World</a></li>
                        <li><a href = "Admission.html">Admission</a></li>
                        <li><a href = "Water Tribe.html">Water Tribe</a></li>
                        <li><a href = "Earth Kingdom.html">Earth Kingdom</a></li>
                        <li><a href = "Fire Nation.html">Fire Nation</a></li>
                        <li><a href = "Air Nomads.html">Air Nomads</a></li>
                        <li><a href = "Contact.html">Contact</a></li>
                    </ul></nav ul li a>
                </section>
            </article>
        </header>

        <article>
            <section>
            <img src="../media/admission/banner logo.png" alt="banner logo" height = "300" width = "300" class = "top-left">
            <img src="../media/admission/4 nations.jpg" alt="photo of Nations" heigh = "300" width = "400" class="center">
            <br><h1>Admission</h1>
            </section>
        </article>

        <article>
            <section>
                <h2>Tickets</h2>
                <p>At spirit world, we have 3 different packages starting at different prices that give different access to different parts of the park. The 3 pacakges are:</p>
                <ol start = "1">
                    <li>Basic package starting at $89.99</li>
                    <li>Bender package starting at $119.99</li>
                    <li>Avatar package starting at $149.99</li>
                </ol>
                <p>Check under below to find out the differences between each package and plan your trip today!</p>
            </section>

            <section>
                <h2>Packages</h2>
                <p>
                    <table class = "mid">
                        <tr>
                            <th colspan = "6">Type of Packages</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Access to Nations</th>
                            <th>Free Merchandise and Drinks</th>
                            <th>Fast Pass on Rides</th>
                            <th>Learn Bending Techniques</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <th>Basic</th>
                            <td>Yes</td>
                            <td>No</td>
                            <td>No</td>
                            <td>No</td>
                            <td>$89.99</td>
                        </tr>
                        <tr>
                            <th>Bender</th>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td>No</td>
                            <td>$119.99</td>
                        </tr>
                        <tr>
                            <th>Avatar</th>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>$149.99</td>
                        </tr>
                    </table>
                </p>
            </section>

            <section>
                <h2>Seasonal Tickets</h2>
                <p>Our deals can keep the party going all year long, contact customer support to find out about our all-season long packages.<em>With our buy one season pass get another free,</em> Spirit World can be experienced by the whole family at half the cost for an entire Summer! (These passes are identified as the Avatar package).</p>
            </section>

            <section>
                <footer>
                    <div class = "footer">
                        <small><i>Copyright &copy 2022 by Spirit World LLC and Raja Moussa</i></small>
                    </div>
                </footer>
            </section>
        </article>
    </body>
</html>
