<!DOCTYPE html>
<html>
    <head>
        <!linking style sheet>
        <link href = "../styles/Style Sheet Contact.css" type="text/css" rel = "stylesheet">
        <meta charset="utf-8">
        <title>Contact</title>
    </head>

    <body>
        <header>
            <article>
                <section>
                    <!nav links>
                    <nav ul li a><ul>
                        <li><a href = "../Spirit World.html">Spirit World</a></li>
                        <li><a href = "Admission.html">Admission</a></li>
                        <li><a href = "Water Tribe.html">Water Tribe</a></li>
                        <li><a href = "Earth Kingdom.html">Earth Kingdom</a></li>
                        <li><a href = "Fire Nation.html">Fire Nation</a></li>
                        <li><a href = "Air Nomads.html">Air Nomads</a></li>
                        <li><a href = "Contact.html">Contact</a></li>
                    </ul></nav ul li a>
                </section>
            </article>
        </header>

        <article>
            <section>
            <img src="../media/contact/banner logo.png" alt="banner logo" height = "300" width = "300" class = "top-left">
            <img src = "../media/contact/avatar.jpg" width = "600" height = "350" class="center">
            <br><h1>Contact</h1>
            </section>
        </article>

        <article>
            <section>
                <h2>Location and Hours</h2>
                <p>19248 Yakone Rd <br> Republic City, Yue Bay<br> Monday through Thursday: 8am - 9pm <br> Friday through Sunday: 9am - 11pm</p>
            </section>

            <section>
                <h2>Donations</h2>
                <p>Half of our profits earned are all proccessed and sent to <a href = "https://give.rainforest-alliance.org/give/291977/?gclid=CjwKCAjwsJ6TBhAIEiwAfl4TWLFf_9dFegae-n4yFJI5uI5xaoB_0LOMq6NFB8gSFCAY9vMYhAAE_RoCDbYQAvD_BwE#!/donation/checkout?utm_source=22vvmmembga&utm_medium=cpc&utm_campaign=cy22memb&c_src=MDK22VX&c_src2=22vvmmembga">Rainforest Allience.</a> To donate and help save acres of rainforest being destroyed, please donate to the link above.</p>
            </section>

            <section>
                <h2>Have a question?</h2>
                <h3>Please fill the information below</h3>
                <p><br>If you have any questions or concerns please email <a href = "mailto:rajamoussa09@outlook.com? subejct = 
                    subject text"> Raja Moussa</a>
                    or enter your contact information along with all the details below and we'll reach out to you shortly.</p>

                <form>
                    <p>Name: <input type = "text" name = "name"></p>
                    <p>Phone Number: <input type = "text" name = "phone"></p>
                    <p>Address: <input type = "text" name = "address"></p>
                    <p>Email: <input type = "text" name = "email"></p>
                    <p>Question:<br><textarea name = "question" rows = "4" cols = "60" maxlength = "400" placeholder = "(400 characters max)"></textarea></p>
                    <p><input type = "submit" value = "Submit"><input type = "Reset"></p>
                </form>
            </section>

            <section>
                <footer>
                    <div class = "footer">
                        <small><i>Copyright &copy 2022 by Spirit World LLC and Raja Moussa</i></small>
                    </div>
                </footer>
            </section>
        </article>
    </body>
</html>
