<!DOCTYPE html>
<html>
    <head>
        <!linking style sheet>
        <link href = "../styles/Style Sheet Earth Kingdom.css" type = "text/css" rel = "stylesheet">
        <meta charset="utf-8">
        <title>Earth Kingdom</title>
    </head>

    <body>
        <header>
            <article>
                <section>
                    <!nav links>
                    <nav ul li a><ul>
                        <li><a href = "../Spirit World.html">Spirit World</a></li>
                        <li><a href = "Admission.html">Admission</a></li>
                        <li><a href = "Water Tribe.html">Water Tribe</a></li>
                        <li><a href = "Earth Kingdom.html">Earth Kingdom</a></li>
                        <li><a href = "Fire Nation.html">Fire Nation</a></li>
                        <li><a href = "Air Nomads.html">Air Nomads</a></li>
                        <li><a href = "Contact.html">Contact</a></li>
                    </ul></nav ul li a>
                </section>
            </article>
        </header>


        <article>
            <section>
            <img src="../media/earth/banner logo.png" alt="banner logo" height = "300" width = "300" class = "top-left">
            <img src="../media/earth/earth kingdom symbol.png" alt="photo of Earth Kingdom symbol" width = "500" height = "350" class = "center">
            <br><h1>Earth Kingdom</h1>
            </section>
        </article>

        <article>
            <section>
                <div class="top"><h3>Zone B: East of Entrance</h3></div>
                <div class = "box">
                    <div class="leftcol">
                        <h3>Attractions</h3>
                        <p>Following through the second zone of the world, the Earth Kingdom is standing strong as our most popular attraction. With our famous colosseum show, we have tourists take place in games to earn large prizes. Along with the Tower of Rock coaster and molten mud pies, the kingdom is not one to miss. Stop by today to see everything mentioned and more!</p>
                    </div>
    
                    <div class="middlecol">
                        <h3>Earth Bending</h3>
                        <p><br><img src = "../media/earth/earth bending.gif" alt = "picture of earth bending" class = "center"></p>
                        <p>The Earth Kingdom is the largest and most populated capital of the four great nations. Earthbenders use the balance of strength and defense to overwhelm opponenets. Some of the abilites include:</p>
                        <ul>
                            <li>Using earth manipulation to your creativity</li>
                            <li>Using earth manipulation to create shields around your body</li>
                            <li>Using earth manipulation to hear vibrations in the rock beneath your feet</li>
                            <li>And much more!</li>
                        </ul>
                        <p>
                            Fun fact: Select few of the masters of the element can access and advanced techniques called Metalbending and even Lavabending. Metalbending is the ability to manipulate the metal in Earth while Lavabending is the ability to manipulate molten earth.
                        </p>
                    </div>
    
                    <div class="rightcol">
                        <h3>Showtimes</h3>
                        <p>The Earth Colosseum Brawl at 10:00am <br> -100/100 slots filled <br><br></p>
                        <p>The Earth Colosseum Brawl at 12:00pm <br> -82/100 slots filled <br><br></p>
                        <p>The Earth Colosseum Brawl at 3:00pm <br> -63/100 slots filled <br><br></p>
                        <p>The Earth Colosseum Brawl at 5:00pm <br> -80/100 slots filled <br><br></p>
                        <p>The Earth Colosseum Brawl at 6:00pm <br> -84/100 slots filled <br><br></p>
                        <p>The Earth Colosseum Brawl at 7:00pm <br> -90/100 slots filled <br><br></p>
                    </div>
                </div>
            </section>
        </article>

        <article>
            <section>
                <h2>More information on the Earth Kingdom</h2>
                <p>To discover more about the history of the Earth Kingdom and its members, please visit <a href = "https://avatar.fandom.com/wiki/Earth_Kingdom">avatar.fandom.com</a></p>
            </section>

            <section>
                <footer>
                    <div class = "footer">
                        <small><i>Copyright &copy 2022 by Spirit World LLC and Raja Moussa</i></small>
                    </div>
                </footer>
            </section>
        </article>
    </body>
</html>

