<!DOCTYPE html>
<html>
    <head>
        <!linking style sheet>
        <link href = "../styles/Style Sheet Fire Nation.css" type = "text/css" rel = "stylesheet">
        <meta charset="utf-8">
        <title>Fire Nation</title>
    </head>

    <body>
        <header>
            <article>
                <section>
                    <!nav links>
                    <nav ul li a><ul>
                        <li><a href = "../Spirit World.html">Spirit World</a></li>
                        <li><a href = "Admission.html">Admission</a></li>
                        <li><a href = "Water Tribe.html">Water Tribe</a></li>
                        <li><a href = "Earth Kingdom.html">Earth Kingdom</a></li>
                        <li><a href = "Fire Nation.html">Fire Nation</a></li>
                        <li><a href = "Air Nomads.html">Air Nomads</a></li>
                        <li><a href = "Contact.html">Contact</a></li>
                    </ul></nav ul li a>
                </section>
            </article>
        </header>


        <article>
            <section>
            <img src="../media/fire/banner logo.png" alt="banner logo" height = "300" width = "300" class = "top-left">
            <img src="../media/fire/fire nation symbol.jpg" alt="photo of Fire Nation symbol" width = "500" height = "387" class = "center">
            <br><h1>Fire Nation</h1>
            </section>
        </article>

        <article>
            <section>
                <div class="top"><h3>Zone C: South of Entrance</h3></div>
                <div class = "box">
                    <div class="leftcol">
                        <h3>Attractions</h3>
                        <p>Following through the third zone of the world, the Fire Nation is where everyone comes together to enjoy the party. From fire dancers walking around the streets and food stands with flaming foods, the culutre is why the Fire Nation is hot. With the addition of the newest attraction, Flaming Rings of Death coaster, tourists can have a great time anywhere in this nation as well as much more!</p>
                    </div>
    
                    <div class="middlecol">
                        <h3>Fire Bending</h3>
                        <p><br><img src = "../media/fire/fire bending.gif" alt = "picture of fire bending" class = "center"></p>
                        <p>The Fire Nation is at the center of the world when it comes to wars. Firebenders use the power of their own energy to draw power. Some of the abilites include:</p>
                        <ul>
                            <li>Using fire manipulation to your creativity</li>
                            <li>Using fire manipulation to fly by releasing fire through your feet</li>
                            <li>Using fire manipulation to create heat in cold climates</li>
                            <li>And much more!</li>
                        </ul>
                        <p>
                            Fun fact: Select few of the masters of the element can access anadvanced technique called Lightningbending. Lightningbending is the ability to produce lightning by directing it throught your fingertips. The benders can also redirect the lightning throught their body to another target.
                        </p>
                    </div>
    
                    <div class="rightcol">
                        <h3>Showtimes</h3>
                        <p>The Fire Dance at 10:00am <br> -91/100 slots filled <br><br><p>
                        <p>The Fire Dance at 12:00pm <br> -95/100 slots filled <br><br><p>
                        <p>The Fire Dance at 3:00pm <br> -73/100 slots filled <br><br></p>
                        <p>The Fire Dance at 5:00pm <br> -84/100 slots filled <br><br></p>
                        <p>The Fire Dance at 6:00pm <br> -41/100 slots filled <br><br></p>
                        <p>The Fire Dance at 7:00pm <br> -59/100 slots filled <br><br></p>
                    </div>
                </div>
            </section>
        </article>

        <article>
            <section>
                <h2>More information on the Fire Nation</h2>
                <p>To discover more about the history of the Fire Nation and its members, please visit <a href = "https://avatar.fandom.com/wiki/Fire_Nation">avatar.fandom.com</a></p>
            </section>

            <section>
                <footer>
                    <div class = "footer">
                        <small><i>Copyright &copy 2022 by Spirit World LLC and Raja Moussa</i></small>
                    </div>
                </footer>
            </section>
        </article>
    </body>
</html>
